.let{
    color: black;
 
    align-items: center;
    font-family: 'Courier Prime', monospace;
    font-weight: 900;
    
}

.pagee{
    width: 100%;
    height: 100%;
}

.pag{
    display: flex;
    justify-content: center;
    align-items: center;
}