.section{
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
}

.titles{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100px;
}

.sty{
    font-family: 'Courier Prime', monospace;
    font-size: 40px;
}

.tii{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}


@media only screen and (max-width: 600px) {
    .titles{
        font-size: 40px;
    }

    .sty{
        font-size: 20px;
    }
  }